.nav-container{
    background: #40739e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 60px;
}
.nav-container h1{
    color: orange;
}
nav a{
    text-decoration: none;
    color: #f5f6fa;
    margin-right: 20px;
    text-transform: uppercase;
    color: #f5f6fa;
}
nav a:hover{
    color: orange;
    letter-spacing: .5px;
    transition: ease .5s;
}